{% extends 'index.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'css/menu.css' %}>    
    <link rel="stylesheet" href={% static 'css/catalog.css' %}>
    <link rel="stylesheet" href={% static 'css/login.css' %}>
    <link rel="stylesheet" href={% static 'css/cabinet.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/cabinet.js' %}" defer></script>
    <script src="{% static 'js/catalog.js' %}" defer></script>
{% endblock %}
{%  block content %}
    <h3>Это ваш профиль {{ user.username }}</h3>
    <p>Ващи любимые товары:</p>
    <div class="main-catalog">
    {% for one in likes %}
        <div class="card">
                    <img src="{% static one.tovar.image %}" alt="" height="100px" width="auto">
                    <h3 class="incard_name">{{ one.tovar.name }}</h3>
                    <p>{{ one.tovar.price }} руб</p>
                    {% if user.is_authenticated %}
                        {% if one.tovar.like_set.values %}
                            <img class='like' src="{% static 'img/like.jpg' %}" alt="" id = {{ one.tovar.id }}  >
                        {% else %}
                            <img class='like' src="{% static 'img/nolike.jpg' %}" alt="" id = {{ one.tovar.id }}  >
                        {% endif %}
                        <a href="{% url 'buy' one.tovar.id %}">
                            <button class="butcart">В КОРЗИНУ</button>
                        </a>
                    {% endif %}
        </div>
    {% endfor %}
    </div>
    <h3>Ваши заказы: </h3>
    <table>
    <tr>
        <th>Дата заказа:</th>
        <th>Адрес:</th>
        <th>Телефон:</th>
        <th>Итог:</th>
        <th>Статус:</th>
        <th></th>
    </tr>
    {% for one in orders %}
        <tr>
        <td>{{ one.data }}</td>
        <td>{{ one.adress }}</td>
        <td>{{ one.tel }}</td>
        <td>{{ one.total }}</td>
        <td>{{ one.status }}</td>
        <td id="full">
        <button onclick="f2('{{ one.id }}', '{{ one.zakaz }}')">Подробнее</button>
            <p id="{{ one.id }}"></p>
        </td>
        </tr>
    {% endfor %}
    </table>
    <a><form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input class="butcart" type="submit" value="Выход">
        </form>
    </a>
{% endblock %}